* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2efdc;
  min-width: 400px;
}

.header {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
}

.header .logo img {
  height: 80px;
  width: auto;
  border-radius: 10%;
  transition: all 0.3s;
}
.header .logo img:hover {
  transform: scale(1.1);
}

.header .nav-links {
  list-style: none;
}
.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.header .nav-links li:hover,
.overlay a:hover {
  transform: scale(1.1);
}
.header .nav-links a {
  font-size: 700;
  color: #eceff1;
}
.header .nav-links a:hover {
  color: #ffbc0e;
}

.menu {
  display: none;
}

.header .btn button,
.header .menu button {
  margin-left: 20px;
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.header .btn button:hover,
.header .menu button:hover {
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}

@media screen and (max-width: 905px) {
  .nav-links,
  .btn {
    display: none;
  }

  .menu {
    display: inherit;
  }
}

.header a {
  text-decoration: none;
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(33, 44, 63, 0.95);
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus {
  color: #ffbc0e;
}

.header .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

@media screen and (max-height: 450px) {
  .header .overlay a {
    font-size: 20px;
  }

  .header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/* #####Home##### */


.home {
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px; /* Increased padding */
  background-color:  #0A3468; /* Or any other background color you prefer */
}
.map-image {
  visibility: hidden;
}
.home-logo-and-slogan {
  display: block;
  margin: auto;
}
.home-logo {
  max-width: 50%;
  max-height: 50%;
  display: block;
}

.home-slogan {
  margin-bottom: 20px;
}

.home-container {
  height: auto; /* Adjusted height */
}

.left {
  display: none;
}

/* Responsive */
@media (min-width: 390px) {
  .home-logo {
    visibility: hidden;
  }

  .map-image {
    visibility: hidden;
    height: 1rem;
    width: 1rem;
  }

  .home-container {
    display: block;
  }
}

@media (min-width: 768px) {
  .home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px; /* Increased padding */
    background-color: #0A3468; /* Or any other background color you prefer */
  }

  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .map-image {
    visibility: visible;
    max-width: 400px;
  }

  .home-logo {
    max-width: 88%;
    max-height: 88%;
    visibility: visible;
  }
  .home-logo-and-slogan {
    flex-direction: column;
    align-items: center;
  }
  * {
    font-size: 18px;
  }
}

/* End Responsive */

.home-logo {
  margin-left: 40px; /* Adjust this value according to how much you want to move the logo to the right */
  width: 500px; /* Or a specific value in pixels or viewport widths (vw) */
  height: auto; /* This maintains the aspect ratio of the logo */
}

.home-slogan {
  font-size: 2em; /* Increase the text size of the slogan */
  color: white; /* Or any other text color you prefer */
  text-align: center; /* This centers the slogan below the logo */
  margin-top: 20px; /* Add top margin if needed to separate the slogan from the logo */
}

.home-image-map {
  max-width: 50%; /* Adjust the maximum width of the map container as needed */
  height: auto; /* This maintains the aspect ratio of the map image */
  text-align: right; /* Align the map image to the right */
}

.map-image {
  width: 100%; /* This will make the map image fit the container */
  height: auto; /* This maintains the aspect ratio of the map image */
}

/* #####Services##### */

.plans-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; /* Increased margin */
}

.plans-container h2 {
  text-align: center;
  font-size: 2em;
  color: #000000;
  margin-bottom: 40px; /* Increased margin */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.services-plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px; /* Increased padding */
  background-color: #0A3468;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Responsive Plans */
@media (min-width: 768px) {
  .services-plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px; /* Increased padding */
    background-color: #0A3468;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.plan {
  flex: 1 0 20%;
  border-radius: 30px;
  padding: 20px;
  margin: 0 10px;
  background-color: white;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-align: center;
  flex-direction: column;
  justify-content: center; /* Vertically centers the content */
}

.plan:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 30px -10px rgba(0, 0, 0, 0.2);
}

.plan h3 {
  font-size: 2em;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.plan p {
  color: #000000;
  margin: 0; /* Removes margin to let flexbox handle spacing */
  line-height: 1.6;
  padding: 10px 0; /* Adds padding to create space around the text if needed */
}

.plan button {
  padding: 15px 25px;
  color: white;
  border-radius: 30px;
  background: #01A1FF;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s ease;
}

.contact {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 100px; /* Increased padding */
}

.contact:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #01A1FF;
  background-size: cover;
  z-index: -1;
}
.contact-box {
  max-width: 850px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.left {
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

h4 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h4:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #01A1FF;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: #01A1FF;
}

textarea {
  min-height: 150px;
}

.bton {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #01A1FF;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.bton:hover {
  background-color: #01A1FF;
}

.field:focus {
  border: 2px solid #01A1FF;
  background-color: #01A1FF;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}
.about-us {
  padding: 60px 0; /* Increased padding */
  background-color: #01A1FF;
}
.about-us-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; /* Increased margin */
}

.about-us-container h2 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-bottom: 40px; /* Increased margin */
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services-plans h2 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-bottom: 40px; /* Increased margin */
  text-transform: uppercase;
  letter-spacing: 1px;
}
.app {
  padding: 60px 0; /* Increased padding */
  background-color: #0A3468;
}
.app-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; /* Increased margin */
}

.app-container h2 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-bottom: 40px; /* Increased margin */
  text-transform: uppercase;
  letter-spacing: 1px;
}
.app-image {
  text-align: center; /* Centers the image within the container */
}
.app-image img {
  width: 200px;
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Ensures the image is displayed as a block */
  margin: 0 auto; /* Centers the image horizontally */
}
.images-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligns images vertically if needed */
}
.images-container a img {
  margin-top: 40px;
  max-width: 80%;
  height: auto;
  text-align: center; /* Centers the text (and images if the <a> container has no defined width) */
  flex: 1 0 20%;
  padding: 20px;
  margin: 0 10px;
  transition: all 0.3s ease;
  text-align: center;
}

.images-container a {
  flex: 1; /* Allows the links to occupy the available space */
  text-align: center; /* Centers the images within the links */
}
.containerN {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 2rem;
}

.boxN p {
  text-align: center;
  color: white;
  font-size: clamp(16px, 4vw, 30px); /* Minimum 16px, preferred size 4vw, maximum 30px */
}
.services {
  padding: 60px 0; /* Increased padding */
  background: #01A1FF;
}
.subServices h2 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-bottom: 40px; /* Increased margin */
  text-transform: uppercase;
  letter-spacing: 1px;
}
.images-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.image-column {
  text-align: center; /* Centers the text (and images if the <a> container has no defined width) */
  width: calc(33.333% - 40px); /* Adjust this value according to the 'gap' to ensure elements are distributed evenly */
  flex: 1 0 20%;
  border-radius: 30px;
  padding: 20px;
  margin: 0 10px;
  transition: all 0.3s ease;
  text-align: center;
}

.image-column a img {
  max-width: 80%;
  height: auto;
}

.image-column p {
  font-size: clamp(16px, 4vw, 40px); /* Minimum 16px, preferred size 4vw, maximum 40px */
  color: white; /* Adjust the text color according to your design */
  margin-top: 0; /* Removes top margin to bring the text closer to the image */
}
.image-column p2 {
  font-size: clamp(10px, 3.5vw, 26px); /* Minimum 10px, relative value 3.5vw, maximum 26px */
  color: white; /* Adjust the text color according to your design */
  margin-top: 0; /* Removes top margin to bring the text closer to the image */
}
.image-column:hover {
  transform: scale(1.05);
}
.images-container a img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 0px -10px rgba(0, 0, 0, 0.2);
}

/* Footer styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  background-color: #000000;
  margin-bottom: 0;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Separates the text and icons */
  align-items: center;
  width: 100%; /* Uses the full width of the footer */
}

.social-icons {
  display: flex;
  justify-content: flex-end; /* Aligns the icons to the right */
  margin-right: 40px; /* Slightly shifts the text to the right */
}

.social-icons img {
  margin-left: 10px; /* Space between the icons */
}
.footer-text {
  flex: 1; /* Allows the text to take up all the necessary space */
  text-align: center; /* Ensures the text is centered */
  margin-left: 140px; /* Slightly shifts the text to the right */
}
.title-creators {
  display: flex;
  margin: 5px 0;
  justify-content: center;
  align-items: center;
  padding: 2px;
  flex-direction: row;
}

.creators-title {
  justify-content: center;
  flex-direction: row;
  text-align: center;
  color: #000000;
}

/* Styles for the creators container */
.creators-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #f49c7c;
}

/* Styles for each creator */
.creator {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-creators {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.creator img {
  border-radius: 80%;
  width: 150px;
  height: 150px;
}
/* About the Product Section */
.about-product {
  padding: 60px 0; /* Increased padding */
  background-color: #01A1FF;
}

.about-product-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; /* Increased margin */
}

.about-product-container h2 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-bottom: 40px; /* Increased margin */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-description {
  text-align: center;
  color: white;
  margin: 0 auto 40px; /* Increased margin */
  max-width: 800px;
}

.product-video {
  text-align: center;
}

.product-video iframe {
  width: 100%;
  max-width: 800px;
  height: 450px; /* Maintain aspect ratio */
}

/* About the Team Section */
.about-team {
  padding: 60px 0; /* Increased padding */
  background-color: #0A3468;
}

.about-team-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; /* Increased margin */
}

.about-team-container h2 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-bottom: 40px; /* Increased margin */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.team-description {
  text-align: center;
  color: white;
  margin: 0 auto 40px; /* Increased margin */
  max-width: 800px;
}

.team-video {
  text-align: center;
}

.team-video iframe {
  width: 100%;
  max-width: 800px;
  height: 450px; /* Maintain aspect ratio */
}
