
.bton {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #01A1FF;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.bton:hover {
  background-color: #01A1FF;
}

.field:focus {
  border: 2px solid #01A1FF;
  background-color: #01A1FF;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}
.nosotros {
  padding: 2rem 0;
  background-color: #01A1FF;
}
.contenedor-nosotros {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contenedor-nosotros h2 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.servicios-planes h2 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.app {
  padding: 2rem 0;
  background-color: #0A3468;
}
.contenedor-app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contenedor-app h2 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.app-imagen {
  text-align: center; /* Centra la imagen dentro del contenedor */
}
.app-imagen img {
  width: 200px;
  height: auto; /* Mantiene la relación de aspecto */
  display: block; /* Asegura que la imagen se muestre como un bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}
.images-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Si quieres que las imágenes estén alineadas verticalmente */
}
.images-container a img {
  margin-top: 40px;
  max-width: 80%;
  height: auto;
  text-align: center; /* Alinea el texto (y las imágenes si su contenedor <a> no tiene un ancho definido) al centro */
  flex: 1 0 20%;
  padding: 20px;
  margin: 0 10px;
  transition: all 0.3s ease;
  text-align: center;
}

.images-container a {
  flex: 1; /* Esto permite que los enlaces ocupen el espacio disponible */
  text-align: center; /* Centra las imágenes dentro de los enlaces */
}
.containerN {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 2rem;
}

.boxN p {
  text-align: center;
  color: white;
  font-size: clamp(
    16px,
    4vw,
    30px
  ); /* Mínimo 16px, tamaño preferido 4vw, máximo 40px */
}
.Servicios {
  padding: 2rem 0rem;
  background: #01A1FF;
}
.subServicios h2 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.images-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.image-column {
  text-align: center; /* Alinea el texto (y las imágenes si su contenedor <a> no tiene un ancho definido) al centro */
  width: calc(
    33.333% - 40px
  ); /* Ajusta este valor según el 'gap' para asegurar que los elementos se distribuyan equitativamente */
  flex: 1 0 20%;
  border-radius: 30px;
  padding: 20px;
  margin: 0 10px;
  transition: all 0.3s ease;
  text-align: center;
}

.image-column a img {
  max-width: 80%;
  height: auto;
}

.image-column p {
  font-size: clamp(
    16px,
    4vw,
    40px
  ); /* Mínimo 16px, tamaño preferido 4vw, máximo 40px */
  color: white; /* Ajusta el color del texto según tu diseño */
  margin-top: 0; /* Elimina el margen superior para acercar el texto a la imagen */
}
.image-column p2 {
  font-size: clamp(
    10px,
    3.5vw,
    26px
  ); /* Mínimo 18px, valor relativo a la ventana gráfica 4vw, máximo 36px */
  color: white; /* Ajusta el color del texto según tu diseño */
  margin-top: 0; /* Elimina el margen superior para acercar el texto a la imagen */
}
.image-column:hover {
  transform: scale(1.05);
}
.images-container a img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 0px -10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el pie de pÃ¡gina */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  background-color: #000000;
  margin-bottom: 0;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Separa el texto y los íconos */
  align-items: center;
  width: 100%; /* Utiliza todo el ancho del footer */
}

.social-icons {
  display: flex;
  justify-content: flex-end; /* Alinea los íconos a la derecha */
  margin-right: 40px; /* Desplaza el texto ligeramente a la derecha */
}

.social-icons img {
  margin-left: 10px; /* Espacio entre los íconos */
}
.footer-text {
  flex: 1; /* Permite que el texto ocupe todo el espacio necesario */
  text-align: center; /* Asegura que el texto esté centrado */
  margin-left: 140px; /* Desplaza el texto ligeramente a la derecha */
}
.tiulo-creadores {
  display: flex;
  margin: 5px 0;
  justify-content: center;
  align-items: center;
  padding: 2px;
  flex-direction: row;
}

.creadores-titulo {
  justify-content: center;
  flex-direction: row;
  text-align: center;
  color: #000000;
}

/* Estilos para el contenedor de creadores */
.creators-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #f49c7c;
}

/* Estilos para cada creador */
.creator {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-creadores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.creator img {
  border-radius: 80%;
  width: 150px;
  height: 150px;
}
